body {

    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    color: #000;
}


h1 {
    color: blue;
}


p.intro { 
    color: green;
}


.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    color: blue;
    text-decoration: none;
}


a:hover {
    color: #0044cc;
}